Package: com.b01s.nocafloatingbannerview
Name: NoCAFloatingBannerView
Depends: mobilesubstrate
Version: 0.0.3
Architecture: iphoneos-arm
Description: Removes Cercube banner
Maintainer: b01s <b01s2791@gmail.com>
Author: b01s <b01s2791@gmail.com>
Section: Tweaks
